// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** bug **/
  --ion-color-bug: #729f3f;
	--ion-color-bug-rgb: 114,159,63;
	--ion-color-bug-contrast: #000000;
	--ion-color-bug-contrast-rgb: 0,0,0;
	--ion-color-bug-shade: #648c37;
	--ion-color-bug-tint: #80a952;

  /** dark **/
  --ion-color-dark: #707070;
	--ion-color-dark-rgb: 112,112,112;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #636363;
	--ion-color-dark-tint: #7e7e7e;

  /** eletric **/
  --ion-color-eletric: #eed535;
	--ion-color-eletric-rgb: 238,213,53;
	--ion-color-eletric-contrast: #000000;
	--ion-color-eletric-contrast-rgb: 0,0,0;
	--ion-color-eletric-shade: #d1bb2f;
	--ion-color-eletric-tint: #f0d949;

  /** fighting **/
  --ion-color-fighting: #d56723;
	--ion-color-fighting-rgb: 213,103,35;
	--ion-color-fighting-contrast: #000000;
	--ion-color-fighting-contrast-rgb: 0,0,0;
	--ion-color-fighting-shade: #bb5b1f;
	--ion-color-fighting-tint: #d97639;

  /** fairy **/
  --ion-color-fairy: #fdb9e9;
	--ion-color-fairy-rgb: 253,185,233;
	--ion-color-fairy-contrast: #000000;
	--ion-color-fairy-contrast-rgb: 0,0,0;
	--ion-color-fairy-shade: #dfa3cd;
	--ion-color-fairy-tint: #fdc0eb;

  /** fire **/
  --ion-color-fire: #fd7d24;
	--ion-color-fire-rgb: 253,125,36;
	--ion-color-fire-contrast: #000000;
	--ion-color-fire-contrast-rgb: 0,0,0;
	--ion-color-fire-shade: #df6e20;
	--ion-color-fire-tint: #fd8a3a;

  /** ghost **/
  --ion-color-ghost: #7b62a3;
	--ion-color-ghost-rgb: 123,98,163;
	--ion-color-ghost-contrast: #ffffff;
	--ion-color-ghost-contrast-rgb: 255,255,255;
	--ion-color-ghost-shade: #6c568f;
	--ion-color-ghost-tint: #8872ac;

  /** grass **/
  --ion-color-grass: #9bcc50;
	--ion-color-grass-rgb: 155,204,80;
	--ion-color-grass-contrast: #000000;
	--ion-color-grass-contrast-rgb: 0,0,0;
	--ion-color-grass-shade: #88b446;
	--ion-color-grass-tint: #a5d162;

  /** ice **/
  --ion-color-ice: #51c4e7;
	--ion-color-ice-rgb: 81,196,231;
	--ion-color-ice-contrast: #000000;
	--ion-color-ice-contrast-rgb: 0,0,0;
	--ion-color-ice-shade: #47accb;
	--ion-color-ice-tint: #62cae9;

  /** normal **/
  --ion-color-normal: #a4acaf;
	--ion-color-normal-rgb: 164,172,175;
	--ion-color-normal-contrast: #000000;
	--ion-color-normal-contrast-rgb: 0,0,0;
	--ion-color-normal-shade: #90979a;
	--ion-color-normal-tint: #adb4b7;

  /** poison **/
  --ion-color-poison: #b97fc9;
	--ion-color-poison-rgb: 185,127,201;
	--ion-color-poison-contrast: #000000;
	--ion-color-poison-contrast-rgb: 0,0,0;
	--ion-color-poison-shade: #a370b1;
	--ion-color-poison-tint: #c08cce;

  /** psychic **/
  --ion-color-psychic: #f366b9;
	--ion-color-psychic-rgb: 243,102,185;
	--ion-color-psychic-contrast: #000000;
	--ion-color-psychic-contrast-rgb: 0,0,0;
	--ion-color-psychic-shade: #d65aa3;
	--ion-color-psychic-tint: #f475c0;

  /** rock **/
  --ion-color-rock: #a38c21;
	--ion-color-rock-rgb: 163,140,33;
	--ion-color-rock-contrast: #000000;
	--ion-color-rock-contrast-rgb: 0,0,0;
	--ion-color-rock-shade: #8f7b1d;
	--ion-color-rock-tint: #ac9837;

  /** steel **/
  --ion-color-steel: #9eb7b8;
	--ion-color-steel-rgb: 158,183,184;
	--ion-color-steel-contrast: #000000;
	--ion-color-steel-contrast-rgb: 0,0,0;
	--ion-color-steel-shade: #8ba1a2;
	--ion-color-steel-tint: #a8bebf;

  /** water **/
  --ion-color-water: #4592c4;
	--ion-color-water-rgb: 69,146,196;
	--ion-color-water-contrast: #000000;
	--ion-color-water-contrast-rgb: 0,0,0;
	--ion-color-water-shade: #3d80ac;
	--ion-color-water-tint: #589dca;

  /** dragon **/
  --ion-color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
	--ion-color-dragon-rgb: 83,164,207;
	--ion-color-dragon-contrast: #000000;
	--ion-color-dragon-contrast-rgb: 0,0,0;
	--ion-color-dragon-shade: #4990b6;
	--ion-color-dragon-tint: #64add4;

  /** flying **/
  --ion-color-flying: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
	--ion-color-flying-rgb: 61,199,239;
	--ion-color-flying-contrast: #000000;
	--ion-color-flying-contrast-rgb: 0,0,0;
	--ion-color-flying-shade: #36afd2;
	--ion-color-flying-tint: #50cdf1;

  /** ground **/
  --ion-color-ground:linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
	--ion-color-ground-rgb: 247,222,63;
	--ion-color-ground-contrast: #000000;
	--ion-color-ground-contrast-rgb: 0,0,0;
	--ion-color-ground-shade: #d9c337;
	--ion-color-ground-tint: #f8e152;

  /** bulbapastel **/
  --ion-color-bulbapastel: #b0d8b9;
	--ion-color-bulbapastel-rgb: 176,216,185;
	--ion-color-bulbapastel-contrast: #000000;
	--ion-color-bulbapastel-contrast-rgb: 0,0,0;
	--ion-color-bulbapastel-shade: #9bbea3;
	--ion-color-bulbapastel-tint: #b8dcc0;

  /** charpastel **/
  --ion-color-charpastel: #e8a487;
	--ion-color-charpastel-rgb: 232,164,135;
	--ion-color-charpastel-contrast: #000000;
	--ion-color-charpastel-contrast-rgb: 0,0,0;
	--ion-color-charpastel-shade: #cc9077;
	--ion-color-charpastel-tint: #eaad93;

  /** squipastel **/
  --ion-color-squipastel: #9bceee;
	--ion-color-squipastel-rgb: 155,206,238;
	--ion-color-squipastel-contrast: #000000;
	--ion-color-squipastel-contrast-rgb: 0,0,0;
	--ion-color-squipastel-shade: #88b5d1;
	--ion-color-squipastel-tint: #a5d3f0;

  /** pikachupastel **/
  --ion-color-pikachupastel: #f3e291;
	--ion-color-pikachupastel-rgb: 243,226,145;
	--ion-color-pikachupastel-contrast: #000000;
	--ion-color-pikachupastel-contrast-rgb: 0,0,0;
	--ion-color-pikachupastel-shade: #d6c780;
	--ion-color-pikachupastel-tint: #f4e59c;
}



.ion-color-grass {
	--ion-color-base: var(--ion-color-grass);
	--ion-color-base-rgb: var(--ion-color-grass-rgb);
	--ion-color-contrast: var(--ion-color-grass-contrast);
	--ion-color-contrast-rgb: var(--ion-color-grass-contrast-rgb);
	--ion-color-shade: var(--ion-color-grass-shade);
	--ion-color-tint: var(--ion-color-grass-tint);
}

.ion-color-poison {
	--ion-color-base: var(--ion-color-poison);
	--ion-color-base-rgb: var(--ion-color-poison-rgb);
	--ion-color-contrast: var(--ion-color-poison-contrast);
	--ion-color-contrast-rgb: var(--ion-color-poison-contrast-rgb);
	--ion-color-shade: var(--ion-color-poison-shade);
	--ion-color-tint: var(--ion-color-poison-tint);
}

.ion-color-fire {
	--ion-color-base: var(--ion-color-fire);
	--ion-color-base-rgb: var(--ion-color-fire-rgb);
	--ion-color-contrast: var(--ion-color-fire-contrast);
	--ion-color-contrast-rgb: var(--ion-color-fire-contrast-rgb);
	--ion-color-shade: var(--ion-color-fire-shade);
	--ion-color-tint: var(--ion-color-fire-tint);
}

.ion-color-water {
	--ion-color-base: var(--ion-color-water);
	--ion-color-base-rgb: var(--ion-color-water-rgb);
	--ion-color-contrast: var(--ion-color-water-contrast);
	--ion-color-contrast-rgb: var(--ion-color-water-contrast-rgb);
	--ion-color-shade: var(--ion-color-water-shade);
	--ion-color-tint: var(--ion-color-water-tint);
}

.ion-color-eletric {
	--ion-color-base: var(--ion-color-eletric);
	--ion-color-base-rgb: var(--ion-color-eletric-rgb);
	--ion-color-contrast: var(--ion-color-eletric-contrast);
	--ion-color-contrast-rgb: var(--ion-color-eletric-contrast-rgb);
	--ion-color-shade: var(--ion-color-eletric-shade);
	--ion-color-tint: var(--ion-color-eletric-tint);
}

.ion-color-bulbapastel {
	--ion-color-base: var(--ion-color-bulbapastel);
	--ion-color-base-rgb: var(--ion-color-bulbapastel-rgb);
	--ion-color-contrast: var(--ion-color-bulbapastel-contrast);
	--ion-color-contrast-rgb: var(--ion-color-bulbapastel-contrast-rgb);
	--ion-color-shade: var(--ion-color-bulbapastel-shade);
	--ion-color-tint: var(--ion-color-bulbapastel-tint);
}

.ion-color-charpastel {
	--ion-color-base: var(--ion-color-charpastel);
	--ion-color-base-rgb: var(--ion-color-charpastel-rgb);
	--ion-color-contrast: var(--ion-color-charpastel-contrast);
	--ion-color-contrast-rgb: var(--ion-color-charpastel-contrast-rgb);
	--ion-color-shade: var(--ion-color-charpastel-shade);
	--ion-color-tint: var(--ion-color-charpastel-tint);
}

.ion-color-squipastel {
	--ion-color-base: var(--ion-color-squipastel);
	--ion-color-base-rgb: var(--ion-color-squipastel-rgb);
	--ion-color-contrast: var(--ion-color-squipastel-contrast);
	--ion-color-contrast-rgb: var(--ion-color-squipastel-contrast-rgb);
	--ion-color-shade: var(--ion-color-squipastel-shade);
	--ion-color-tint: var(--ion-color-squipastel-tint);
}

.ion-color-pikachupastel {
	--ion-color-base: var(--ion-color-pikachupastel);
	--ion-color-base-rgb: var(--ion-color-pikachupastel-rgb);
	--ion-color-contrast: var(--ion-color-pikachupastel-contrast);
	--ion-color-contrast-rgb: var(--ion-color-pikachupastel-contrast-rgb);
	--ion-color-shade: var(--ion-color-pikachupastel-shade);
	--ion-color-tint: var(--ion-color-pikachupastel-tint);
}
